In [2]:
import os
import pandas as pd
import numpy as np

In [31]:
os.getcwd()

'/Users/echysanndah/Documents/loancasestudy'

In [11]:
df = pd.read_csv('loan.csv', sep=',', error_bad_lines=False, index_col=False, dtype='str')

In [32]:
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,policy_code,application_type,num_tl_90g_dpd_24m,Unnamed: 110
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,0,0,0,15-Jan,171.62,16-May,1,INDIVIDUAL,NaN,NaN
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,0,117.08,1.11,13-Apr,119.66,13-Sep,1,INDIVIDUAL,NaN,NaN
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,0,0,0,14-Jun,649.91,16-May,1,INDIVIDUAL,NaN,NaN
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,16.97,0,0,15-Jan,357.48,16-Apr,1,INDIVIDUAL,NaN,NaN
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,0,0,0,16-May,67.79,16-May,1,INDIVIDUAL,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075,36 months,8.07%,78.42,A,A4,...,0,0,0,10-Jul,80.9,10-Jun,1,INDIVIDUAL,NaN,NaN
39713,90665,90607,8500,8500,875,36 months,10.28%,275.38,C,C1,...,0,0,0,10-Jul,281.94,10-Jul,1,INDIVIDUAL,NaN,NaN
39714,90395,90390,5000,5000,1325,36 months,8.07%,156.84,A,A4,...,0,0,0,8-Apr,0,7-Jun,1,INDIVIDUAL,NaN,NaN
39715,90376,89243,5000,5000,650,36 months,7.43%,155.38,A,A2,...,0,0,0,8-Jan,0,7-Jun,1,INDIVIDUAL,NaN,NaN
39716,87023,86999,7500,7500,800,36 months,13.75%,255.43,E,E2,...,0,0,0,10-Jun,256.59,10-Jun,1,INDIVIDUAL,NaN,NaN

In [33]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,policy_code,application_type,num_tl_90g_dpd_24m,Unnamed: 110
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,0,0,0,15-Jan,171.62,16-May,1,INDIVIDUAL,NaN,NaN
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,0,117.08,1.11,13-Apr,119.66,13-Sep,1,INDIVIDUAL,NaN,NaN
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,0,0,0,14-Jun,649.91,16-May,1,INDIVIDUAL,NaN,NaN
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,16.97,0,0,15-Jan,357.48,16-Apr,1,INDIVIDUAL,NaN,NaN
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,0,0,0,16-May,67.79,16-May,1,INDIVIDUAL,NaN,NaN

In [34]:
len(df)

39717

In [10]:
df.isnull().values.any()

True

In [35]:
df.dropna(axis=1,how='all')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,policy_code,application_type
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,5000,863.16,0,0,0,15-Jan,171.62,16-May,1,INDIVIDUAL
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,456.46,435.17,0,117.08,1.11,13-Apr,119.66,13-Sep,1,INDIVIDUAL
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,2400,605.67,0,0,0,14-Jun,649.91,16-May,1,INDIVIDUAL
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,10000,2214.92,16.97,0,0,15-Jan,357.48,16-Apr,1,INDIVIDUAL
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,2475.94,1037.39,0,0,0,16-May,67.79,16-May,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075,36 months,8.07%,78.42,A,A4,...,2500,322.97,0,0,0,10-Jul,80.9,10-Jun,1,INDIVIDUAL
39713,90665,90607,8500,8500,875,36 months,10.28%,275.38,C,C1,...,8500,1413.49,0,0,0,10-Jul,281.94,10-Jul,1,INDIVIDUAL
39714,90395,90390,5000,5000,1325,36 months,8.07%,156.84,A,A4,...,5000,272.16,0,0,0,8-Apr,0,7-Jun,1,INDIVIDUAL
39715,90376,89243,5000,5000,650,36 months,7.43%,155.38,A,A2,...,5000,174.2,0,0,0,8-Jan,0,7-Jun,1,INDIVIDUAL
39716,87023,86999,7500,7500,800,36 months,13.75%,255.43,E,E2,...,7500,1695.26,0,0,0,10-Jun,256.59,10-Jun,1,INDIVIDUAL

In [36]:
drop_list = ['next_pymnt_d',
            'collections_12_mths_ex_med',
            'acc_now_delinq',
            'chargeoff_within_12_mths',
            'delinq_amnt',
            'pub_rec_bankruptcies',
            'tax_liens']

In [39]:
df.drop(drop_list, inplace = True, axis =1)

KeyError: "['next_pymnt_d' 'collections_12_mths_ex_med' 'acc_now_delinq'\n 'chargeoff_within_12_mths' 'delinq_amnt' 'pub_rec_bankruptcies'\n 'tax_liens'] not found in axis"

In [38]:
sorted(df)

['Unnamed: 110',
 'addr_state',
 'annual_inc',
 'application_type',
 'collection_recovery_fee',
 'delinq_2yrs',
 'desc',
 'dti',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'home_ownership',
 'id',
 'initial_list_status',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'issue_d',
 'last_credit_pull_d',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_amnt',
 'loan_status',
 'member_id',
 'num_tl_90g_dpd_24m',
 'open_acc',
 'out_prncp',
 'out_prncp_inv',
 'policy_code',
 'purpose',
 'pymnt_plan',
 'recoveries',
 'revol_bal',
 'revol_util',
 'sub_grade',
 'term',
 'title',
 'total_acc',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'url',
 'verification_status',
 'zip_code']

In [30]:
drop_list = ['mths_since_last_delinq',
             'mths_since_last_record',
            'pub_rec',
            'mths_since_last_major_derog',
            'annual_inc_joint',
            'dti_joint',
            'verification_status_joint',
            'tot_coll_amt',
            'tot_cur_bal',
            'open_acc_6m',
            'open_il_6m',
            'open_il_12m',
            'open_il_24m',
            'mths_since_rcnt_il',
            'total_bal_il',
            'il_util',
            'open_rv_12m',
            'open_rv_24m',
            'max_bal_bc',
            'all_util',
            'total_rev_hi_lim',
            'inq_fi',
            'total_cu_tl',
            'inq_last_12m',
            'acc_open_past_24mths',
            'avg_cur_bal',
            'bc_open_to_buy',
            'bc_util',
            'mo_sin_old_il_acct',
            'mo_sin_old_rev_tl_op',
            'mo_sin_rcnt_rev_tl_op',
            'mo_sin_rcnt_tl',
            'mort_acc',
            'mths_since_recent_bc',
            'mths_since_recent_bc_dlq',
            'mths_since_recent_inq',
            'mths_since_recent_revol_delinq',
            'num_accts_ever_120_pd',
            'num_actv_bc_tl',
            'num_actv_rev_tl',
            'num_bc_sats',
            'num_bc_tl',
            'num_il_tl',
            'num_op_rev_tl',
            'num_rev_accts',
            'num_rev_tl_bal_gt_0',
            'num_sats',
            'num_tl_120dpd_2m',
            'num_tl_30dpd',
            'num_tl_op_past_12m',
            'pct_tl_nvr_dlq',
            'percent_bc_gt_75',
            'tot_hi_cred_lim',
            'total_bal_ex_mort',
            'total_bc_limit']

In [29]:
df.drop(drop_list, inplace= True, axis=1)

KeyError: "['mths_since_last_delinq' 'mths_since_last_record' 'pub_rec'\n 'mths_since_last_major_derog' 'annual_inc_joint' 'dti_joint'\n 'verification_status_joint' 'tot_coll_amt' 'tot_cur_bal' 'open_acc_6m'\n 'open_il_6m' 'open_il_12m' 'open_il_24m' 'mths_since_rcnt_il'\n 'total_bal_il' 'il_util' 'open_rv_12m' 'open_rv_24m' 'max_bal_bc'\n 'all_util' 'total_rev_hi_lim' 'inq_fi' 'total_cu_tl' 'inq_last_12m'\n 'acc_open_past_24mths' 'avg_cur_bal' 'bc_open_to_buy' 'bc_util'\n 'mo_sin_old_il_acct' 'mo_sin_old_rev_tl_op' 'mo_sin_rcnt_rev_tl_op'\n 'mo_sin_rcnt_tl' 'mort_acc' 'mths_since_recent_bc'\n 'mths_since_recent_bc_dlq' 'mths_since_recent_inq'\n 'mths_since_recent_revol_delinq' 'num_accts_ever_120_pd' 'num_actv_bc_tl'\n 'num_actv_rev_tl' 'num_bc_sats' 'num_bc_tl' 'num_il_tl' 'num_op_rev_tl'\n 'num_rev_accts' 'num_rev_tl_bal_gt_0' 'num_sats' 'num_tl_120dpd_2m'\n 'num_tl_30dpd' 'num_tl_op_past_12m' 'pct_tl_nvr_dlq' 'percent_bc_gt_75'\n 'tot_hi_cred_lim' 'total_bal_ex_mort' 'total_bc_limit'] not found in axis"

In [24]:
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,policy_code,application_type,num_tl_90g_dpd_24m,Unnamed: 110
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,0,0,0,15-Jan,171.62,16-May,1,INDIVIDUAL,NaN,NaN
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,0,117.08,1.11,13-Apr,119.66,13-Sep,1,INDIVIDUAL,NaN,NaN
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,0,0,0,14-Jun,649.91,16-May,1,INDIVIDUAL,NaN,NaN
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,16.97,0,0,15-Jan,357.48,16-Apr,1,INDIVIDUAL,NaN,NaN
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,0,0,0,16-May,67.79,16-May,1,INDIVIDUAL,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075,36 months,8.07%,78.42,A,A4,...,0,0,0,10-Jul,80.9,10-Jun,1,INDIVIDUAL,NaN,NaN
39713,90665,90607,8500,8500,875,36 months,10.28%,275.38,C,C1,...,0,0,0,10-Jul,281.94,10-Jul,1,INDIVIDUAL,NaN,NaN
39714,90395,90390,5000,5000,1325,36 months,8.07%,156.84,A,A4,...,0,0,0,8-Apr,0,7-Jun,1,INDIVIDUAL,NaN,NaN
39715,90376,89243,5000,5000,650,36 months,7.43%,155.38,A,A2,...,0,0,0,8-Jan,0,7-Jun,1,INDIVIDUAL,NaN,NaN
39716,87023,86999,7500,7500,800,36 months,13.75%,255.43,E,E2,...,0,0,0,10-Jun,256.59,10-Jun,1,INDIVIDUAL,NaN,NaN

In [25]:
print(list(df.columns))

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'policy_code', 'application_type', 'num_tl_90g_dpd_24m', 'Unnamed: 110']

In [26]:
sorted(df)

['Unnamed: 110',
 'addr_state',
 'annual_inc',
 'application_type',
 'collection_recovery_fee',
 'delinq_2yrs',
 'desc',
 'dti',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'home_ownership',
 'id',
 'initial_list_status',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'issue_d',
 'last_credit_pull_d',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_amnt',
 'loan_status',
 'member_id',
 'num_tl_90g_dpd_24m',
 'open_acc',
 'out_prncp',
 'out_prncp_inv',
 'policy_code',
 'purpose',
 'pymnt_plan',
 'recoveries',
 'revol_bal',
 'revol_util',
 'sub_grade',
 'term',
 'title',
 'total_acc',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'url',
 'verification_status',
 'zip_code']